# =========================
# Dependencies
# =========================
node_modules/
**/node_modules/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Build / Production
# =========================
build/
dist/
**/build/
**/dist/

# React / Vite / Next Cache
.cache/
.next/
out/

# =========================
# Testing
# =========================
coverage/

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Package Managers
# =========================
.pnp
.pnp.js

# =========================
# Misc
# =========================
*.pem